fastapi
uvicorn
python-multipart
pdfplumber
scikit-learn
numpy<2
mysql-connector-python
bcrypt
sentence-transformers==2.7.0
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.4.0+cpu
